<form action="{% url 'animal:creating' %}" method="post">
{% csrf_token %}
<u><h1>Please fill data below.</h1></u>
<h2>Name : <input type="TextInput" name="input_name" value=""> </h2>
    <li>food    :  <input type="TextInput" name="input_food" value=""></li>
    <li>habitat :  <input type="TextInput" name="input_habitat" value=""></li>
    <li>legs    :  <input type="TextInput" name="input_legs" value=""></li>
<h1></h1>
<input type="submit" value="Submit">
<h1></h1>
</form>

<form action="{% url 'animal:index' %}" method="get">
<input type="submit" value="Cancel">
</form>
